:root {
  --phi: 1.61803399;
  --grass-color: rgb(39, 109, 11);
  --grass-opacity: 0.075;
  --grass-1-primary: hsla(103, 88%, 42%, var(--grass-opacity));
  --grass-1-secondary: hsla(71, 53%, 24%, var(--grass-opacity));
  --grass-2-primary: hsla(103, 53%, 24%, var(--grass-opacity));
  --grass-2-secondary: hsla(71, 88%, 42%, var(--grass-opacity));
  --grass-repeat-width: 10rem;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  user-select: none;
  background-color: black;
}

a {
  color: #0000ff;
  text-decoration: none;
  transition: color 0.1s ease;
}

a:hover {
  color: #0000df;
  text-decoration: underline;
}

a:active {
  color: #0000bf;
}

.landscape {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.background {
  flex-grow: 1;
}

.foreground {
  flex-grow: 1;
  background-color: var(--grass-color);
  position: relative;
}

.grass {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      calc(var(--phi) * 360deg),
      var(--grass-1-primary) var(--grass-repeat-width),
      var(--grass-1-secondary) calc(2 * var(--grass-repeat-width)),
      var(--grass-1-primary) calc(3 * var(--grass-repeat-width))
    ),
    repeating-radial-gradient(
      circle,
      var(--grass-2-primary) var(--grass-repeat-width),
      var(--grass-2-secondary) calc(2 * var(--grass-repeat-width)),
      var(--grass-2-primary) calc(3 * var(--grass-repeat-width))
    ),
    repeating-linear-gradient(
      calc(2 * var(--phi) * 360deg),
      var(--grass-2-primary) var(--grass-repeat-width),
      var(--grass-2-secondary) calc(2 * var(--grass-repeat-width)),
      var(--grass-2-primary) calc(3 * var(--grass-repeat-width))
    );
}

.lake {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 60%;
  border-radius: 80% 40%;
  background: #5757c7;
  background: linear-gradient(180deg, #5757c7 0%, #2b3343 100%);
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.5);
}

.rock {
  position: absolute;
  background: #60606e;
  background: linear-gradient(225deg, #53535f 0%, #37393b 100%);
}

.rock-1 {
  left: 9%;
  bottom: 5%;
  width: 5rem;
  height: 7rem;
  border-radius: 70% 50% 30% 20%;
  transform: rotate(10deg);
}

.rock-2 {
  left: 4%;
  bottom: -2%;
  width: 8rem;
  height: 4rem;
  border-radius: 80% 30% 20% 20%;
  transform: rotate(-5deg);
}

.rock-3 {
  right: 8%;
  bottom: 20%;
  width: 8rem;
  height: 4rem;
  border-radius: 80% 60% 30% 40%;
  transform: rotate(15deg);
}

.rock-4 {
  right: 5%;
  bottom: 13%;
  width: 5rem;
  height: 7rem;
  border-radius: 70% 50% 20% 20%;
  transform: rotate(-5deg);
}

.rock-5 {
  right: 2%;
  bottom: 1%;
  width: 8rem;
  height: 4rem;
  border-radius: 50% 80% 40% 50%;
  transform: rotate(-5deg);
}
