:root {
  --phi: 1.61803399;
  --grass-color: #276d0b;
  --grass-opacity: 0.075;
  --grass-1-primary: hsla(103, 88%, 42%, var(--grass-opacity));
  --grass-1-secondary: hsla(71, 53%, 24%, var(--grass-opacity));
  --grass-2-primary: hsla(103, 53%, 24%, var(--grass-opacity));
  --grass-2-secondary: hsla(71, 88%, 42%, var(--grass-opacity));
  --grass-repeat-width: 10rem;
  --lake-primary: #0a37b3;
  --lake-secondary: #3232c4;
  --lake-repeat-width: 5rem;
  --lake-angle: 190deg;
  --lake-shimmer-move-coefficient: -1.01519;
  --lake-shimmer-move-speed: 2;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  user-select: none;
  background-color: black;
}

a {
  color: #0000ff;
  text-decoration: none;
  transition: color 0.1s ease;
}

a:hover {
  color: #0000df;
  text-decoration: underline;
}

a:active {
  color: #0000bf;
}

.landscape {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.background {
  flex-grow: 1;
}

.foreground {
  flex-grow: 1;
  background-color: var(--grass-color);
  position: relative;
}

.grass {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      calc(var(--phi) * 360deg),
      var(--grass-1-primary) var(--grass-repeat-width),
      var(--grass-1-secondary) calc(2 * var(--grass-repeat-width)),
      var(--grass-1-primary) calc(3 * var(--grass-repeat-width))
    ),
    repeating-radial-gradient(
      circle,
      var(--grass-2-primary) var(--grass-repeat-width),
      var(--grass-2-secondary) calc(2 * var(--grass-repeat-width)),
      var(--grass-2-primary) calc(3 * var(--grass-repeat-width))
    ),
    repeating-linear-gradient(
      calc(2 * var(--phi) * 360deg),
      var(--grass-2-primary) var(--grass-repeat-width),
      var(--grass-2-secondary) calc(2 * var(--grass-repeat-width)),
      var(--grass-2-primary) calc(3 * var(--grass-repeat-width))
    );
}

.lake {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 120%;
  aspect-ratio: 3;
  border-radius: 70% 50%;
  background: var(--lake-primary);
  background: repeating-linear-gradient(
    190deg,
    var(--lake-primary) var(--lake-repeat-width),
    var(--lake-secondary) calc(2 * var(--lake-repeat-width)),
    var(--lake-primary) calc(3 * var(--lake-repeat-width))
  );
  background-size: 100% 200%;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  animation: 5s linear 0s infinite water-shimmer;
}

@keyframes water-shimmer {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0
      calc(
        var(--lake-shimmer-move-coefficient) * var(--lake-repeat-width) * 2 *
          var(--lake-shimmer-move-speed)
      );
  }
}

.rock {
  position: absolute;
  background: #53535f;
  background: linear-gradient(225deg, #53535f 0%, #37393b 100%);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.rock-1 {
  left: -1rem;
  bottom: -1rem;
  width: 12rem;
  height: 6rem;
  border-radius: 50% 70% 40% 0;
}

.rock-2 {
  right: -1rem;
  bottom: -1rem;
  width: 7rem;
  height: 11rem;
  border-radius: 70% 60% 0 40%;
}

.rock-3 {
  right: -1rem;
  bottom: -1rem;
  width: 11rem;
  height: 5rem;
  border-radius: 80% 60% 0 40%;
}

.ripple {
  position: absolute;
  animation: 10s linear 0s infinite ripple;
  border-radius: 50%;
  aspect-ratio: 3;
  transform: translate(-50%, -40%);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25);
    width: 0;
  }

  20% {
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0);
    width: 80px;
  }
}

.ripple-1 {
  left: 29%;
  top: 16%;
  animation-duration: calc((var(--phi) - 1) * 10s);
  animation-delay: calc((2 - var(--phi)) * 10s);
}

.ripple-2 {
  left: 41%;
  top: 27%;
  animation-duration: 10s;
  animation-delay: calc((2 - var(--phi)) * 2 * 10s);
}

.ripple-3 {
  left: 69%;
  top: 18%;
  animation-duration: calc((2 - var(--phi)) * 10s);
  animation-delay: calc((2 - var(--phi)) * 3 * 10s);
}
