:root {
  --phi: 1.61803399;
  --sky-color: hsl(228, 63%, 66%);
  --sky-opacity: 0.0375;
  --sky-1-primary: hsla(195, 16%, 85%, var(--sky-opacity));
  --sky-1-secondary: hsla(196, 6%, 34%, var(--sky-opacity));
  --sky-2-primary: hsla(195, 6%, 34%, var(--sky-opacity));
  --sky-2-secondary: hsla(196, 16%, 85%, var(--sky-opacity));
  --sky-repeat-width: 5rem;
  --mountain-primary: #101214;
  --mountain-secondary: #5c656b;
  --cloud-color: rgba(255, 255, 255, 0.75);
  --cloud-width: 350px;
  --cloud-num: 5;
  --cloud-animation-offset: 15s;
  --cloud-animation-duration: calc(
    var(--cloud-num) * var(--cloud-animation-offset)
  );
  --cloud-extension-size: 32px;
  --grass-color: #276d0b;
  --grass-opacity: 0.075;
  --grass-1-primary: hsla(103, 88%, 42%, var(--grass-opacity));
  --grass-1-secondary: hsla(71, 53%, 24%, var(--grass-opacity));
  --grass-2-primary: hsla(103, 53%, 24%, var(--grass-opacity));
  --grass-2-secondary: hsla(71, 88%, 42%, var(--grass-opacity));
  --grass-repeat-width: 10rem;
  --lake-primary: #0a37b3;
  --lake-secondary: #3232c4;
  --lake-repeat-width: 5rem;
  --lake-angle: 190deg;
  --lake-shimmer-move-coefficient: -1.01519;
  --lake-shimmer-move-speed: 2;
  --wood-color: #553619;
  --leaf-color: #0b530b;
  --tree-size: 40px;
  --tree-width-coefficient: 1.5;
  --tree-base-width: 10px;
  --tree-base-height: 60px;
  --sway-amount: 5deg;
  --sway-translate: 25px;
  --text-delay: 1s;
  --info-text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  --info-text-shadow-bright: 0 0 8px white;
  --info-text-show-length: 10s;
  --info-text-num: 4;
  --info-text-delay: 5s;
}

body {
  margin: 0;
  font-family: "Zen Maru Gothic", sans-serif;
  user-select: none;
  background-color: black;
}

a {
  color: #0000ff;
  text-decoration: none;
  transition: color 0.1s ease;
}

a:hover {
  color: #0000df;
  text-decoration: underline;
}

a:active {
  color: #0000bf;
}

.device-warning {
  display: none;
}

.landscape {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.background {
  flex-grow: 1;
  background-color: var(--sky-color);
  position: relative;
}

.sky {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      calc(4 * var(--phi) * 360deg),
      var(--sky-1-primary) var(--sky-repeat-width),
      var(--sky-1-secondary) calc(2 * var(--sky-repeat-width)),
      var(--sky-1-primary) calc(3 * var(--sky-repeat-width))
    ),
    repeating-radial-gradient(
      circle,
      var(--sky-2-primary) var(--sky-repeat-width),
      var(--sky-2-secondary) calc(2 * var(--sky-repeat-width)),
      var(--sky-2-primary) calc(3 * var(--sky-repeat-width))
    ),
    repeating-linear-gradient(
      calc(5 * var(--phi) * 360deg),
      var(--sky-2-primary) var(--sky-repeat-width),
      var(--sky-2-secondary) calc(2 * var(--sky-repeat-width)),
      var(--sky-2-primary) calc(3 * var(--sky-repeat-width))
    );
}

.sun {
  position: absolute;
  height: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 20px;
  right: 20px;
  background: #be6d17;
  background: radial-gradient(circle, #ffa600 0%, #f0cd21 100%);
  box-shadow: 0 0 12px 12px rgba(211, 180, 25, 0.75);
  animation: 2s ease-in-out 0s infinite alternate glow;
}

@keyframes glow {
  from {
    box-shadow: 0 0 4px 4px rgba(211, 180, 25, 0.75);
  }

  to {
    box-shadow: 0 0 16px 16px rgba(211, 180, 25, 0.75);
  }
}

.mountain {
  position: absolute;
  bottom: -100%;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 30px 0 0 0;
  transform: rotate(45deg) translateY(-50%);
  background: var(--mountain-primary);
  background: linear-gradient(
    160deg,
    var(--mountain-secondary) 0%,
    var(--mountain-primary) 100%
  );
}

.mountain-1 {
  transform: rotate(45deg) translateY(-50%) scale(1.2);
  left: -11%;
}

.mountain-2 {
  transform: rotate(45deg) translateY(-50%) scale(1);
  left: -18%;
}

.mountain-3 {
  transform: rotate(45deg) translateY(-50%) scale(0.85);
  left: -2%;
}

.mountain-4 {
  transform: rotate(45deg) translateY(-50%) scale(1.1);
  right: 4%;
}

.mountain-5 {
  transform: rotate(45deg) translateY(-50%) scale(0.9);
  right: -3%;
}

.mountain-6 {
  transform: rotate(45deg) translateY(-50%) scale(0.75);
  right: 13%;
}

.cloud {
  position: absolute;
  top: 10px;
  left: 100%;
  width: var(--cloud-width);
  cursor: default;
  animation: var(--cloud-animation-duration) linear 0s infinite running
    cloud-move;
}

@keyframes cloud-move {
  0% {
    left: calc(-1 * var(--cloud-width));
  }

  50% {
    left: 100%;
  }

  100% {
    left: 100%;
  }
}

.cloud:hover {
  text-decoration: none;
}

.cloud:nth-child(4n) {
  top: 40px;
}

.cloud:nth-child(4n + 1) {
  top: 60px;
}

.cloud:nth-child(4n + 2) {
  top: 50px;
}

.cloud:nth-child(4n + 3) {
  top: 70px;
}

.cloud-title {
  background-color: var(--cloud-color);
  padding: 16px 16px 0 16px;
  margin: 0 48px;
  border-radius: 32px 32px 0 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
}

.cloud-title::before {
  content: "";
  position: absolute;
  top: calc(-1 * var(--cloud-extension-size));
  right: 92px;
  background-color: var(--cloud-color);
  border-radius: var(--cloud-extension-size) var(--cloud-extension-size) 0 0;
  width: calc(0.4 * var(--cloud-width));
  height: var(--cloud-extension-size);
  background-color: var(--cloud-color);
}

.cloud-body {
  background-color: var(--cloud-color);
  padding: 20px 24px;
  border-radius: 48px;
  cursor: pointer;
  font-weight: normal;
  font-size: 0.95em;
}

.cloud-body::after {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--cloud-extension-size));
  left: 60px;
  background-color: var(--cloud-color);
  border-radius: 0 0 var(--cloud-extension-size) var(--cloud-extension-size);
  width: calc(0.6 * var(--cloud-width));
  height: var(--cloud-extension-size);
}

.cloud-1 {
  animation-delay: var(--cloud-animation-offset);
}

.cloud-2 {
  animation-delay: calc(2 * var(--cloud-animation-offset));
}

.cloud-3 {
  animation-delay: calc(3 * var(--cloud-animation-offset));
}

.cloud-4 {
  animation-delay: calc(4 * var(--cloud-animation-offset));
}

.cloud-5 {
  animation-delay: calc(5 * var(--cloud-animation-offset));
}

.title {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2em;
  text-shadow: var(--info-text-shadow);
}

.greeting {
  opacity: 0;
  animation: 0.5s ease 1s forwards fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.greeting-1 {
  display: inline-block;
  animation-delay: calc(var(--text-delay));
}

.greeting-2 {
  display: inline-block;
  animation-delay: calc(var(--text-delay) + 0.75s);
}

.name {
  font-size: 2em;
  font-weight: 500;
  animation-delay: calc(var(--text-delay) + 1s);
}

.greeting-3 {
  animation-delay: calc(var(--text-delay) + 2.5s);
}

.foreground {
  flex-grow: 1;
  background-color: var(--grass-color);
  position: relative;
}

.grass {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      calc(var(--phi) * 360deg),
      var(--grass-1-primary) var(--grass-repeat-width),
      var(--grass-1-secondary) calc(2 * var(--grass-repeat-width)),
      var(--grass-1-primary) calc(3 * var(--grass-repeat-width))
    ),
    repeating-radial-gradient(
      circle,
      var(--grass-2-primary) var(--grass-repeat-width),
      var(--grass-2-secondary) calc(2 * var(--grass-repeat-width)),
      var(--grass-2-primary) calc(3 * var(--grass-repeat-width))
    ),
    repeating-linear-gradient(
      calc(2 * var(--phi) * 360deg),
      var(--grass-2-primary) var(--grass-repeat-width),
      var(--grass-2-secondary) calc(2 * var(--grass-repeat-width)),
      var(--grass-2-primary) calc(3 * var(--grass-repeat-width))
    );
}

.tree {
  position: absolute;
  background-color: var(--wood-color);
  width: var(--tree-base-width);
  height: var(--tree-base-height);
  border-radius: 100vw;
  animation: 20s ease-in-out 0s infinite sway;
}

.tree::before {
  content: "";
  position: absolute;
  background-color: var(--leaf-color);
  width: var(--tree-size);
  aspect-ratio: 1;
  border-radius: 50%;
  top: calc(-0.5 * var(--tree-size));
  left: calc(-0.5 * var(--tree-size) + 0.5 * var(--tree-base-width));
}

.tree::after {
  content: "";
  position: absolute;
  background-color: var(--leaf-color);
  width: calc(var(--tree-width-coefficient) * var(--tree-size));
  height: var(--tree-size);
  border-radius: 100vw;
  top: 0;
  left: calc(
    -0.5 * var(--tree-width-coefficient) * var(--tree-size) + 0.5 * var(--tree-base-width)
  );
}

.tree-1 {
  top: 46%;
  left: 4%;
  zoom: 1.25;
  animation-delay: 3s;
}

.tree-2 {
  top: 13%;
  left: 9%;
  zoom: 0.8;
  animation-delay: 0s;
}

.tree-3 {
  top: 38%;
  left: 14%;
  zoom: 1.1;
  animation-delay: 6s;
}

.tree-4 {
  top: 20%;
  left: 22%;
  zoom: 1;
  animation-delay: 2s;
}

.tree-5 {
  top: 16%;
  right: 20%;
  zoom: 1;
  animation-delay: 5s;
}

.tree-6 {
  top: 25%;
  right: 11%;
  zoom: 1.2;
  animation-delay: 4s;
}

.tree-7 {
  top: 11%;
  right: 3%;
  zoom: 0.85;
  animation-delay: 1s;
}

.tree-shadow {
  position: absolute;
  bottom: calc(-0.25 * var(--tree-size));
  left: calc(-0.5 * var(--tree-size) + 0.5 * var(--tree-base-width));
  width: var(--tree-size);
  height: calc(0.5 * var(--tree-size));
  background-color: rgba(0, 0, 0, 0.375);
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.8) rotate(-50deg)
    translateX(calc(-0.5 * var(--tree-size) + 0.5 * var(--tree-base-width)));
  box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.375);
}

@keyframes sway {
  0% {
    transform: translateY(var(--sway-translate)) rotate(0deg)
      translateY(calc(-1 * var(--sway-translate)));
  }

  10% {
    transform: translateY(var(--sway-translate)) rotate(var(--sway-amount))
      translateY(calc(-1 * var(--sway-translate)));
  }

  25% {
    transform: translateY(var(--sway-translate))
      rotate(calc(-0.5 * var(--sway-amount)))
      translateY(calc(-1 * var(--sway-translate)));
  }

  30% {
    transform: translateY(var(--sway-translate))
      rotate(calc(0.5 * var(--sway-amount)))
      translateY(calc(-1 * var(--sway-translate)));
  }

  40% {
    transform: translateY(var(--sway-translate))
      rotate(calc(-0.75 * var(--sway-amount)))
      translateY(calc(-1 * var(--sway-translate)));
  }

  50% {
    transform: translateY(var(--sway-translate)) rotate(var(--sway-amount))
      translateY(calc(-1 * var(--sway-translate)));
  }

  55% {
    transform: translateY(var(--sway-translate))
      rotate(calc(0.25 * var(--sway-amount)))
      translateY(calc(-1 * var(--sway-translate)));
  }

  60% {
    transform: translateY(var(--sway-translate))
      rotate(calc(0.25 * var(--sway-amount)))
      translateY(calc(-1 * var(--sway-translate)));
  }

  65% {
    transform: translateY(var(--sway-translate)) rotate(var(--sway-amount))
      translateY(calc(-1 * var(--sway-translate)));
  }

  75% {
    transform: translateY(var(--sway-translate)) rotate(0deg)
      translateY(calc(-1 * var(--sway-translate)));
  }
}

.lake {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 120%;
  aspect-ratio: 3;
  border-radius: 70% 50%;
  background: var(--lake-primary);
  background: repeating-linear-gradient(
    var(--lake-angle),
    var(--lake-primary) var(--lake-repeat-width),
    var(--lake-secondary) calc(2 * var(--lake-repeat-width)),
    var(--lake-primary) calc(3 * var(--lake-repeat-width))
  );
  background-size: 100% 200%;
  box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  animation: 5s linear 0s infinite water-shimmer;
}

@keyframes water-shimmer {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0
      calc(
        var(--lake-shimmer-move-coefficient) * var(--lake-repeat-width) * 2 *
          var(--lake-shimmer-move-speed)
      );
  }
}

.rock {
  position: absolute;
  background: #53535f;
  background: linear-gradient(225deg, #53535f 0%, #37393b 100%);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.rock-1 {
  left: -1rem;
  bottom: -1rem;
  width: 12rem;
  height: 6rem;
  border-radius: 30% 50% 30% 0;
}

.rock-2 {
  right: -1rem;
  bottom: -1rem;
  width: 7rem;
  height: 11rem;
  border-radius: 40% 30% 0 40%;
}

.rock-3 {
  right: -1rem;
  bottom: -1rem;
  width: 11rem;
  height: 5rem;
  border-radius: 80% 60% 0 40%;
}

.ripple {
  position: absolute;
  animation: 10s linear 0s infinite ripple;
  border-radius: 50%;
  aspect-ratio: 3;
  transform: translate(-50%, -40%);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25);
    width: 0;
  }

  20% {
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0);
    width: 80px;
  }
}

.ripple-1 {
  left: 29%;
  top: 16%;
  animation-duration: calc((var(--phi) - 1) * 10s);
  animation-delay: calc((2 - var(--phi)) * 10s);
}

.ripple-2 {
  left: 41%;
  top: 27%;
  animation-duration: 10s;
  animation-delay: calc((2 - var(--phi)) * 2 * 10s);
}

.ripple-3 {
  left: 69%;
  top: 18%;
  animation-duration: calc((2 - var(--phi)) * 10s);
  animation-delay: calc((2 - var(--phi)) * 3 * 10s);
}

.info {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: var(--info-text-shadow);
  font-size: 1.2em;
  max-width: 40%;
  line-height: 1.5;
  display: grid;
}

.info a {
  text-shadow: var(--info-text-shadow-bright);
}

.info-text {
  grid-column: 1;
  grid-row: 1;
  transform: translateY(100vh);
  opacity: 0;
  animation: calc(var(--info-text-show-length) * var(--info-text-num)) ease 1s
    infinite forwards show-info-text;
}

.info-text-1 {
  animation-delay: var(--info-text-delay);
  transform: none;
}

.info-text-2 {
  animation-delay: calc(var(--info-text-show-length) + var(--info-text-delay));
}

.info-text-3 {
  animation-delay: calc(
    2 * var(--info-text-show-length) + var(--info-text-delay)
  );
}

.info-text-4 {
  animation-delay: calc(
    3 * var(--info-text-show-length) + var(--info-text-delay)
  );
}

@keyframes show-info-text {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }

  1.25% {
    opacity: 1;
    transform: none;
  }

  23.75% {
    opacity: 1;
    transform: none;
  }

  25% {
    opacity: 0;
    transform: translateY(-16px);
  }

  25.001% {
    transform: translateY(100vh);
  }
}

@media screen and (max-width: 1000px),
  screen and (max-height: 600px),
  screen and (max-aspect-ratio: 11/7) {
  .mountain {
    display: none;
  }

  @keyframes cloud-move {
    0% {
      left: calc(-1 * var(--cloud-width));
    }

    40% {
      left: 100%;
    }

    100% {
      left: 100%;
    }
  }

  .cloud:nth-child(4n) {
    top: 35px;
  }

  .cloud:nth-child(4n + 1) {
    top: 45px;
  }

  .cloud:nth-child(4n + 2) {
    top: 40px;
  }

  .cloud:nth-child(4n + 3) {
    top: 50px;
  }

  .title {
    white-space: nowrap;
  }

  .tree {
    display: none;
  }

  .tree-1,
  .tree-7 {
    display: block;
  }

  .lake {
    display: none;
  }

  .rock {
    display: none;
  }

  .info {
    max-width: 80%;
  }
}
